.root {
    flex: 1;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row > button {
    margin-left: 4px;
    margin-right: 8px;
}
.row:not(:last-child) {
    margin-bottom: 16px;
}

.value {
    font-size: 78px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2px;
    font-family: "Courier New", Courier, monospace;
}
.part {
    margin: 2rem;
    width: 20%;
}
.buttonRoot {
    border: 1px solid;
}
