.root {
    padding: 1rem;
    background-color: var(--main-background-color);
    margin: auto;
}
.title {
    margin-bottom: 2rem;
}
.genreContainer {
    display: flex;
    flex-wrap: wrap;
}
.item {
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--main-dark1);
    transition-duration: 200ms;
}
.item:hover {
    filter: brightness(1.3);
}
