.root {
    padding: 1rem;
    background-color: var(--main-background-color);
}
.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sections > section {
    margin: 0 1rem;
}
.img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}
.p {
    background-color: var(--main-dark1);
    padding: 1rem;
    margin-bottom: 1rem;
}

.sectionsB {
    display: flex;
    flex-wrap: wrap;
}
.sectionsB > section {
    flex: 1;
}
