.root {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 576px) {
    .root > div {
        margin: auto;
    }
}
.item {
    background-color: var(--main-dark1);
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    transition-duration: 500ms;
    display: flex;
    flex-wrap: wrap;
}
.item:hover {
    filter: brightness(1.3);
}
.title {
    cursor: pointer;
}
.img {
    max-width: 100%;
    margin: auto;
    cursor: pointer;
}
.sectionA {
    padding: 1rem;
    overflow-y: clip;
    flex: 2;
}
.ratingParent {
    display: flex;
    gap: 1rem;
}
.rating {
    font-size: 1.2rem;
}
.votes {
    font-size: 1.2rem;
}
