.item {
    background-color: var(--main-dark1);
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    transition-duration: 500ms;
    display: flex;
    flex-wrap: wrap;
}
.item:hover {
    filter: brightness(1.3);
    transition-duration: 500ms;
}
.img {
    flex: 1 1;
    min-width: 200px;
    object-fit: contain;
}
.sectionA {
    margin-left: 1rem;
    margin-top: 1rem;
    min-width: 200px;
    overflow-y: clip;
    flex: 2;
}
.sectionB {
    margin-left: 1rem;
    overflow-y: clip;
    flex: 1;
}
.rating {
    font-size: 1.2rem;
}
.votes {
    font-size: 1.2rem;
}
